{% extends "appproyecto/padre.html" %}
    {% load static %}
{% block contenidoQueCambia %}

    <!--HOLA QUE TAL CAMBIE TODO -->
    <h1>Pagina de cursos.</h1>
    <p> Acceso al formulario de los cursos</P>

        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn bootstrap-icons" href="{% url 'cursoFormulario' %}">Formulario </a>
            </div>
        </nav>

    <p>Acceso a la busqueda de los tipos de Cursos</p>

    <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn bg-light" href="{% url 'buscarInfo' %}">Buscar</a>
            </div>
        </nav>

    {% endblock %}
